*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

/* PALETTE */

:root{    /* Color styles */
--secondary-color: #0084FD;
--dark-color: #333333;
--light-color: #FFFFFF;
--bg-lilla: #9792E4;
--bg-cards: #B5DDFF;
--contrast-color: #FDC15F;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
/* GENERAL */
.debug{
    outline: 1px solid black;
}

ul{
    list-style: none;
}

.d-flex{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

.padding-1{
    padding: 0.5rem 0;
}

.padding-p{
    padding: 0.5rem 0 1rem 0;
}

.padding-b{
    padding: 0rem 0 1rem 0;
}

.padding-t{
    padding-top: 1rem;
}
/* GENERAL END */

/* HEADER */

header{
    background-color: var(--secondary-color);
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

header .container nav{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    align-items: center;
    height: 60px;
}

/* list of nav content */
header .container ul{
    display: flex;
    align-items: center;
}

header .container a{
    display: none;
}

header .container ul li{
    padding-left: 1.6rem;
    color: var(--light-color);
}

header ul li button{
    border: 1px solid transparent;
    background-color: var(--light-color);
    color: var(--dark-color);
    padding: 0.4rem 0.5rem;
    border-radius: 20px;
}

/* list of nav content end*/

/* HEADER END */


/* MAIN */
main{
    background-color: var(--light-color);
    margin-top: 60px;
}

.even{
    background-color: var(--bg-lilla);
}

.cards{
    /* max-width: calc((100% / 3) - 10px); */
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    padding: 0.5rem;
    background-color: var(--bg-cards);
}

.cards h2{
    color: var(--secondary-color);
    text-align: center;
}

.cards{
    color: var(--dark-color);
    margin-bottom: 1.2rem;
}

.cards:last-child{
    margin-bottom: 0rem;
}

.text-l{
    text-align: left;
}

.content{
    padding: 3rem;
    margin: 0 auto;
}

/* first item */
.cards:first-child{
    padding-bottom: 0rem;
}

/* first item end */

.cards button{
    border: 1px solid transparent;
    background-color: var(--secondary-color);
    color: var(--light-color);
    padding: 0.4rem 2.3rem;
    border-radius: 20px;
    text-align: center;
}

.cards button i{
    padding-right: 10px;
}

.info{
    text-align: left;
}

.img img{
    width: 70%;
}

.cards .icons{
    font-size: 2.5rem;
    color: var(--secondary-color);
    padding-bottom: 1rem;
}

.cards h3{
    color: var(--secondary-color);
}

/* MAIN END */



/* FOOTER */
footer{
    background-color: var(--dark-color);
}

/* FOOTER END */



/* MEDIA QUERY */

@media screen and (max-width: 992px){

    header .container ul{
        display: none;
    }

    header .container a{
        display: block;
    }
}

@media screen and (max-width: 768px){

}


/* MEDIA QUESRY END */