*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

/* PALETTE */

:root{    /* Color styles */
--secondary-color: #0084FD;
--dark-color: #333333;
--light-color: #FFFFFF;
--bg-lilla: #9792E4;
--bg-cards: #B5DDFF;
--contrast-color: #FDC15F;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

ul{
    list-style: none;
}

/* HEADER */

header{
    background-color: var(--secondary-color);
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

header .container{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    align-items: center;
}

/* list of nav content */
header .container ul{
    display: flex;
    align-items: center;
}

header .container ul li{
    padding: 0 0.8rem;
    color: var(--light-color);
}

header ul li button{
    border: 1px solid transparent;
    background-color: var(--light-color);
    color: var(--dark-color);
    padding: 0.4rem 0.5rem;
    border-radius: 20px;
}

/* list of nav content end*/

/* HEADER END */


/* MAIN */
main{
    background-color: var(--light-color);
}

.even{
    background-color: var(--bg-lilla);
}

/* MAIN END */



/* FOOTER */
footer{
    background-color: var(--dark-color);
}

/* FOOTER END */