*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

/* PALETTE */

:root{    /* Color styles */
--secondary-color: #0084FD;
--dark-color: #333333;
--light-color: #FFFFFF;
--bg-lilla: #9792E4;
--bg-cards: #B5DDFF;
--contrast-color: #FDC15F;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

ul{
    list-style: none;
}

/* HEADER */

header{
    background-color: var(--secondary-color);
}

/* HEADER END */


/* MAIN */
main{
    background-color: var(--light-color);
}

.even{
    background-color: var(--bg-lilla);
}

/* MAIN END */



/* FOOTER */
footer{
    background-color: var(--dark-color);
}

/* FOOTER END */