*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

/* PALETTE */

:root{    /* Color styles */
--secondary-color: #0084FD;
--dark-color: #333333;
--light-color: #FFFFFF;
--bg-lilla: #9792E4;
--bg-cards: #B5DDFF;
--contrast-color: #FDC15F;
}

/* GNERAL */

.debug{
    outline: 1px solid black;
}

ul{
    list-style: none;
}

.spacer{
    padding:1.5rem;
}

.d-flex{
    display: flex;
    flex-flow: row wrap;
}

.j-center{
    justify-content: center;
}

.rounded{
    border-radius: 15px;
}
/* END GENERAL */


/* HEADER */

header{
    background-color: var(--secondary-color);
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

header .container nav{
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
    align-items: center;
    height: 60px;
}

/* list of nav content */
header .container ul{
    display: flex;
    align-items: center;
}

header .container a{
    display: none;
}

header .container ul li{
    padding-left: 1.6rem;
    color: var(--light-color);
}

header ul li button{
    border: 1px solid transparent;
    background-color: var(--light-color);
    color: var(--dark-color);
    padding: 0.4rem 0.5rem;
    border-radius: 20px;
}

/* list of nav content end*/

/* HEADER END */

/* MAIN */

main{
    margin-top: 60px;
}

.even{
    background-color: var(--bg-lilla);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* INTRO */

.card{
    max-width: 100%;
    text-align: center;
}

#intro img{
    width: 30%;
}

#intro .card{
    background-color: var(--bg-cards);
    color: var(--dark-color);
}

#intro .card h2{
    color:var(--secondary-color)
}

#intro button{
    border: 1px solid transparent;
    background-color: var(--secondary-color);
    color: var(--light-color);
    padding: 0.3rem 2rem;

}

#intro button i{
    padding-right: 0.5rem;
}

/* END INTRO */

/* MAIN END */




































/* MEDIA QUERY */

@media screen and (max-width:768px){

    header .container ul{
        display: none;
    }

    header .container a{
        display: block;
    }

}

/* END MEDIA QUERY */