*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

/* PALETTE */

:root{    /* Color styles */
--secondary-color: #0084FD;
--dark-color: #333333;
--light-color: #FFFFFF;
--bg-lilla: #9792E4;
--bg-cards: #B5DDFF;
--contrast-color: #FDC15F;
}

/* GNERAL */

.debug{
    outline: 1px solid black;
}

ul{
    list-style: none;
}

.spacer{
    padding:1.5rem;
}

.d-flex{
    display: flex;
    flex-flow: row wrap;
}

.j-center{
    justify-content: center;
}

.rounded{
    border-radius: 25px;
}

.rounded-b{
    border-radius: 50px;
}
/* END GENERAL */


/* HEADER */

header{
    background-color: var(--secondary-color);
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

header .container nav{
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
    align-items: center;
    height: 60px;
}

/* list of nav content */
header .container ul{
    display: flex;
    align-items: center;
}

header .container a{
    display: none;
}

header .container ul li{
    padding-left: 1.6rem;
    color: var(--light-color);
}

header ul li button{
    border: 1px solid transparent;
    background-color: var(--light-color);
    color: var(--dark-color);
    padding: 0.4rem 0.5rem;
    border-radius: 20px;
}

/* list of nav content end*/

/* HEADER END */

/* MAIN */

main{
    margin-top: 60px;
}

.even{
    background-color: var(--bg-lilla);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* INTRO */

.card{
    max-width: 100%;
    text-align: center;
}

#intro img{
    width: 50%;
    display: block;
    margin: 0 auto;
}

#intro .card{
    background-color: var(--bg-cards);
    color: var(--dark-color);
    padding: 1rem;
}

#intro .card:first-child{
    padding: 1rem 1rem 0 1rem;
}

#intro .card-info h2{
    color:var(--secondary-color);
    padding: 1rem 0;
}

#intro button{
    border: 1px solid transparent;
    background-color: var(--secondary-color);
    color: var(--light-color);
    padding: 0.3rem 2rem;

}

#intro button i{
    padding-right: 0.5rem;
}

#intro .icons{
    font-size: 2.5rem;
    color: var(--secondary-color);
}

/* END INTRO */

/* PLANNING */

#planning img{
    width: 100%;
    display: block;
}

#planning .spacer{
    color: var(--light-color);
}

#planning .card{
    background-color: var(--light-color);
    padding:1rem;
    color: var(--dark-color);
}

#planning .button{
    background-color: var(--bg-lilla);
    color: var(--dark-color);
    width: 50px;
    height: 50px;
    padding: 0.9rem;
    margin: 0 auto;
}

#planning h2, h3, p{
    padding: 0.5rem 0 0.5rem 0;
}

/* PLANNING END */


/* TESTIMONIALS */

#testimonials .card{
    background-color: var(--bg-lilla);
    padding:1rem;
    color: var(--light-color);
}

.img-cont{
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    border-radius: 50%;
}


/* testimonials img*/
.testimonial1{
    background-image: url(../../assets/img/testimonial1.jpg);
}
.testimonial2{
    background-image: url(../../assets/img/testimonial2.jpg);
}
.testimonial3{
    background-image: url(../../assets/img/testimonial3.jpg);
}
/* testimonials img end*/


#testimonials .name{
    text-transform: uppercase;
}

/* TESTIMONIALS END*/


/* FEATURE */

#features .card{
    text-align: start;
    background-color: var(--light-color);
    padding:1rem;
    color: var(--bg-lilla);
}

#features .button{
    background-color: var(--bg-lilla);
    color: var(--light-color);
    padding: 0.5rem;
    width: 100px;
    text-align: center;
}

#features .spacer>h2{
    color: var(--light-color);
    padding: 0 0 1rem 0;
    text-align: center;
    font-size: 2rem;
}

/* FEATURE END */

/* ABOUT-US */

#about-us .container{
    padding: 1.5rem 1.5rem 2.5rem 1.5rem;
}

#about-us .spacer>h2, .spacer>p{
    padding-bottom: 1.5rem;
}

#about-us .spacer>h2{
    color: var(--bg-lilla);
    font-size: 2.5rem;
}

.about-user{
    background-image: url(../../assets/img/about.jpg);
}

.user{
    display: block;
    position: relative;
    font-size: 3rem;
    color: var(--bg-lilla);
    text-align: end;
}

#about-us .button{
    background-color: var(--bg-lilla);
    color: var(--light-color);
    padding: 0.5rem;
    width: 500px;
    text-align: center;
}

#about-us .user p{
    font-weight: bold;
    text-align: start;
    padding: 1.5rem 0;
}

/* ABOUT-US END*/


/* CALL TO ACTION */

#call-to-action h4{
    color: var(--light-color);
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
}

#call-to-action h3{
    color: var(--light-color);
    text-align: center;
    font-size: 2rem;
}

#call-to-action h2{
    color: var(--contrast-color);
    text-align: center;
    font-size: 3.5rem;
}

#call-to-action p, a{
    color: var(--light-color);
    text-align: center;
}

#call-to-action .spacer p{
    padding: 1.5rem;
}

#call-to-action .button{
    background-color: var(--light-color);
    color: var(--bg-lilla);
    padding: 1rem;
    width: 300px;
    text-align: center;
    margin: 0 auto;
}



/* CALL TO ACTION END */


/* MAIN END */


/* FOOTER */

footer{
    background-color: var(--dark-color);
    color: var(--light-color);
}

#end .spacer p{
    text-align: center;
    padding: 1.5rem 0;
}

#end .spacer a{
    color: var(--bg-lilla);
}


/* FOOTER END */

/* MEDIA QUERY */

@media screen and (max-width:768px){

    header .container ul{
        display: none;
    }

    header .container a{
        display: block;
    }

}

@media screen and (max-width:992px){

    header .container ul{
        display: none;
    }

    header .container a{
        display: block;
    }

}


@media screen and (max-width:1200px){

   
}

/* END MEDIA QUERY */